body{
    overflow-x: hidden;
    background-image: -webkit-linear-gradient(80deg, #FFFFFF 50%, #FFFFFF 50%);
}

.tab-content{
    max-width: 95vw;
    margin: 40px auto 0 30px;
    font-family: 'Nunito Sans', sans-serif;
}

.search-bar{
    width: 55vw;
}

.searchBarInp{
    display: none;
}

.table-responsive-lg{
    margin-top: 100px;
}

.page{
    margin-top: 40px;
    margin-bottom: 100px;
}

.page .pagination .page-item .page-link{
    background-color: #FFFFFF;
    color: #47B5FF;
}

.page .pagination .page-item.active .page-link, .page .pagination .page-item .page-link:hover{
    background-color: #47B5FF;
    color: #FFFFFF;
}

#lend_btn{
    display: none;
}

.page-item{
    display: inline-block;
}

.pages{
    width: 400px;
    white-space: nowrap;
    height: 60px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.dashboard-warning{
    max-width: 15vw; 
    text-align: center;
    color: #47B5FF;
}

#selectedBooksHeading, #selectedTable{
    display: none;
}

#selectedTable{
    margin-bottom: 30px;
}


.copyright{
    font-size: 15px;
   
}




