body{
    overflow-x: hidden;
    background-image: -webkit-linear-gradient(80deg, #FFFFFF 50%, #FFFFFF 50%);
}

ul.nav.nav-tabs{
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
}

ul.nav.nav-tabs li.nav-item{
    border: 1px solid 47B5FF;
    border-bottom: 0;
    background-color: #47B5FF !important;
    margin: 10px 2px 0;
    border-radius: 12% 12% 0 0;
}

ul.nav.nav-tabs li.nav-item a.nav-link{
    color: #000 !important;
}

ul.nav.nav-tabs li.nav-item button.nav-link.active {
    color: #47B5FF !important;
    border-color: #47B5FF;
    border-bottom: 0;
    border-radius: 12% 12% 0 0;

}

.tab-content{
    max-width: 95vw;
    margin: 40px auto 0 30px;
    font-family: 'Nunito Sans', sans-serif;
}

.dashboard-heading{
    max-width: 60vw;
    text-align: center;
    color: #47B5FF;
}

.search-bar{
    width: 55vw;
}

.searchBarInp{
    display: none;
}

.dashboard-btn{
    color: #47B5FF;
    background-color: #FFFFFF;
    border: 1px solid #47B5FF;
}
.dashboard-btn:hover{
    color: #FFFFFF;
    background-color: #47B5FF;
}

.table-responsive-lg{
    margin-top: 100px;
}

.tables{
    align-items: center;
    max-width: 95vw; 
    text-align: center;
}

.tables thead{
    background-color: #47B5FF;
    color: #FFFFFF;
}

table tbody tr{
    text-align: left;
}

.page{
    margin-top: 40px;
    margin-bottom: 100px;
}

.page .pagination .page-item .page-link{
    background-color: #FFFFFF;
    color: #47B5FF;
}

.page .pagination .page-item.active .page-link, .page .pagination .page-item .page-link:hover{
    background-color: #47B5FF;
    color: #FFFFFF;
}

#lend_btn{
    display: none;
}

.page-item{
    display: inline-block;
}

.pages{
    width: 400px;
    white-space: nowrap;
    height: 60px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.dashboard-warning{
    max-width: 15vw; 
    text-align: center;
    color: #47B5FF;
}

#selectedBooksHeading, #selectedTable{
    display: none;
}

#selectedTable{
    margin-bottom: 30px;
}


.copyright{
    font-size: 15px;
   
}




