body{
    overflow-x: hidden;
}

.addBook{
    max-width: 650px;
}

.dashboard-btn.active{
    background-color: #47B5FF;
    color: #FFFFFF;
}

#processPendingBooksInp, #yetBorrowedBooksDataInp{
    display: none;
}

/* #pendSubBtn, #yetBorrowSubBtn{
    display: none;
}
#pendSubBtn.enable, #yetBorrowSubBtn.enable{
    display: block;
} */